.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  max-width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 51px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 30px 25px;
}

.card__like-button {
  background: transparent url(../images/Vector-2.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
