.header {
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: 0 0 0 27px;
    width: 126px;
    height: 24px;
  }
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}
